// email.handlebars
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>End of Term Result</title>
</head>
<body>
  <h1 style="color: brown;">Hello Sir/Ma, </h1>
  <p>Kindly find attached the end of term report card of {{name}}. Thanks</p>
  <br>
  <br>
  <img style="width: 200px;" src="../assets/logo.jpg"/>
</body>
</html>
